<h1>Make New Recipe</h1>
<br>
<form action="/recipe" method="post" id="post_form">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cook Time: <input type="text" name="cook_time"></p>
  <button type="submit" value"submit">submit</button>
</form>
